{
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["Gemfile", "*.{rb,ru,rake,gemspec}", ".irbrc", ".pryrc"],
      "options": {
        "printWidth": 100,
        "rubySingleQuote": false,
        "rubyArrayLiteral": false
      }
    }
  ]
}
